#event_title {
    scroll-margin-top: 50px; 
}

.page_title{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page_title h1{
    font-size: 42px;
    font-weight: bold;
}

.section{
    width: 1050px;
    max-width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.border {       
    height: 2px;               
    background-color: powderblue;     
}

.description_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-bottom: solid 3px orange;
    line-height: 40px;
}

.description{
    font-size: 16px;
    margin-left: 5%;
    padding-right: 5%;
    margin-bottom: 12px;
    line-height: 20px;
}

.event_block ul {
    list-style-type: disc;
    margin-bottom: 30px;
    padding-left: 4.5em;
}

.event_list{
    margin-top: 50px;
    margin-left: 7.5%;
    margin-bottom: 50px;
}

.event_block{
    margin-bottom: 30px;
}

.event_month{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 50px;
}

.event_list li{
    font-size: 20px;
    font-weight: normal; 
}

.event_list .description{
    margin-left: 0;
}

.toggle-button-wrapper {
    text-align: center;
}

.toggle-button {
    margin-top: 20px;
    padding: 14px 200px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 9999px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;

}

.toggle-button:hover {
    background-color:skyblue;
}

.event_hidden_wrapper {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    transition: max-height 0.7s ease, mask-image 0.7s ease;
}

.event_hidden_wrapper.expanded {
    max-height: 9999px;
    mask-image: none;
    -webkit-mask-image: none;
}

.access .description_title{
    margin-left: 0;
}

.map{
    width: 930px;
    max-width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.map iframe{
    display: block;
    width: 100%;
    height: 600px;
}

@media(max-width: 800px){
    .page_title{
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .page_title h1{
        font-size: 32px;
    }

    .section{
        margin-top: 25px;
    }

    .description_title{
        font-size: 26px;
    }

    .event_block ul {
        margin-bottom: 20px;
        padding-left: 3em;
    }

    .event_list{
        margin-top: 0;
        margin-left: 7.5%;
        margin-bottom: 0;
    }

    .event_block{
        margin-bottom: 25px;
    }

    .event_month{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .event_list li{
        font-size: 20px;
    }

    .toggle-button {
        margin-top: 10px;
        padding: 12px 80px;
        font-size: 14px;
    }

    .event_hidden_wrapper {
        max-height: 100px;
    }

    .map{
        width: 800px;
    }

    .map iframe{
        display: block;
        width: 100%;
        height: 300px;
    }
}

.twitter_link{
    color: 	#1DA1F2;
}