html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 50px;
}

.title{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title h1{
    font-size: 32px;
    font-weight: bold;
}

.product_list{
    display: flex;
    justify-content: center;
    width: full;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    align-items:flex-start;
    gap: 25px;
    align-items: stretch;
    padding-bottom: 150px;
    padding-top: 20px;
}

.card{
    flex: 0 0 50%;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.logo {
    width: 100%;
    height: 200px;
    margin-bottom: 12px;
    object-fit: contain;
}

.product_title {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px; 
}

.description {
    font-size: 18px;
    color: #555;
    padding-left: 8px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: full;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    align-items:flex-start;
    gap: 25px;
    align-items: stretch;
    margin-bottom: 80px;
}

.text_area{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

.text_area .product_title{
    font-size: 50px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-bottom: 50px;
}


.product_description{
    font-size: 16px;
    line-height: 1.8;
}

.image_slider {
    flex: 1;
    display: flex;
    padding-top: 10px;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
}

.slide{
    width: 200px;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 12px;
    overflow: hidden;
}

.product_image{
    width: 100%;
    object-fit: contain; 
    display: block;
    border-radius: 12px;
}

.coming_soon{
    justify-content: center;
    width: full;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.coming_soon p{
    font-size: 28px;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    .product-row {
        flex-direction: row; /* PCは画像 → 文章 */
    }

    .product-row-reverse {
        flex-direction: row-reverse; /* PCは文章 → 画像 */
    }
}

@media(max-width: 800px){
    .title h1{
        font-size: 48px;
    }

    .title{
        margin-bottom: 30px;
    }

    .product_list{
        flex-direction: column;
        justify-content: center;
        width: full;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        align-items:flex-start;
        gap: 15px;
        align-items: stretch;
        padding-bottom: 100px;
        padding-top: 20px;
    }

    .card{
        flex: 1;
    }

    .text_area .product_title{
        font-size: 32px;
    }
    
    .product{
        margin-right: 16px;
        margin-left: 16px;
    }

    .coming_soon{
        margin-left: 16px;
        margin-right: 16px;
    }

    .coming_soon p{
        font-size: 24px;
    }

}